<footer class="py-12 xl:py-24">
    <div class="container px-4 mx-auto xl:px-0">
        <!-- <hr class="my-8 border-gray-200 lg:my-12 dark:border-gray-700"> -->
        <span class="block text-center text-gray-600 dark:text-gray-400">© 2023 OHT</a>. All Rights Reserved.
        </span>
    </div>
</footer>